.navbar {
    background-color: #000000;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    border: 1pt;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
  }

  nav ul a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
  }